/*Footer*/
footer{
    margin-top: 5%;
    background-color: #D32F2F;
    display: flex;
    justify-content: space-evenly;
    color: white;
    flex-wrap: wrap;
}
footer div{
    width: 25%;
    min-width: 150px;
}
.address p{
    width: 90%;
}
.address p, .address h2{
    margin-left: 5%;
}
footer h2{
    font-size: clamp(13px, 2vw, 2vw);
}
footer p, footer a{
    font-size: clamp(10px, 1.3vw, 1.3vw);
}
footer a{
    display: block;
    color: white;
    margin-bottom: 14px;
}
.fHeadings{
    display: flex;
    justify-content: space-evenly;
}
.row1{
    display: flex;
    justify-content: space-evenly;
}
